[flake8]
known-modules = :[entities,use_cases,interface_adapters]
requirements-file = requirements/development.txt
requirements-max-depth = 2
per-file-ignores =
    tests/*: D107, S101
    source/*: D107
